<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Email</title>
      <style type='text/css'>
      p, span {
            font-family: sans-serif;
        }
        .fontSizeDescription {
            font-size: 24px;
            font-family: sans-serif;
            
        }
        .confirmation-link {
            display:block;
            width:230px;
            word-wrap:break-word;
        }
        
        .buttonHover:hover {
            opacity: 0.6;
        }
        
        .fontSizeLinkText {
            font-size: 22
        }
        
        .linkCadena {
            color: #b1afb7;
            font-size: 20px;
            text-align: center;
            font-family: sans-serif;
        }
        
        .descriptionContainer {
            padding-bottom: 2em;
        }

        @media screen and (min-width: 800px) {
            .confirmation-link {
                width:700px;
            }
        }

        @media screen and (min-width: 520px) {
            .confirmation-link {
            width:420px;
          }
        }
        
        
        @media screen and (max-width: 480px) {
            .fontSizeDescription {
                font-size: 14px;
            }
            .descriptionContainer {
                padding-right: 1em;
                padding-left: 1em;
            }
            .linkCadena {
                color: 3b1afb7;
                font-size: 11px;
            }
            .fontSizeLinkText {
                font-size: 22px
            }
        }
        
        @media screen and (max-width: 3200px) {
            .fontSizeDescription {
                font-size: 16px;
            }
            .linkCadena {
                color: 3b1afb7;
                font-size: 9px;
            }
            .fontSizeLinkText {
                font-size: 11px
            }
        }
    </style>
    
</head>
<body>
    <table align='center' style='text-align:center;background-color: #fff'>
        <tr>
            <td align='center' style='text-align:center;background-color: #fff'>
                <div style='background-color: #fff; margin-left: 1em; margin-right: 1em'>
                    <div>
                        <img style="width: 8em; height: 3em; margin-top: 3em; margin-bottom: 2em" src="cid:logo.jpg"
                         alt="aduana-logo" />
                        <hr style="background-color: #bcccd6; border: 1px solid #bcccd6" />
                    <h1 style='color:#333333;font-size:1.9em;font-family:sans-serif; text-align:left; padding-top: 1.8em; padding-bottom: 2em'>
                            Estimado Sr(a)<span th:text="${name}"/>
                     </h1>
                      </div>
                    <div class='descriptionContainer'>
                        <p class='fontSizeDescription' style='color: #333333; text-align:left'  th:text="${obs}"/>
                            
                        
                        <p class='fontSizeDescription' style='color: #333333; text-align:center; font-size: 16px; margin-top: 4em'>
                                Haz click en el siguiente botón para ir al sistema del Proyecto Procesos Fiduciarios.
                        </p>
                        <a class='buttonHover' th:href="@{${detailsURL}}" style='font-family:sans-serif;text-decoration: none; margin-top: 43px;margin-bottom: 43px;display: inline-block; padding-top: 1em; padding-bottom:1em; background-color: #2892d7; padding-right: 3em;padding-left: 3em; border-radius: 2em;font-size: 15px;font-weight: 400;color: white;display: inline-block; cursor: pointer;'>                         
                                Ir al sistema
                        </a>
                        <p class='fontSizeDescription' style='color: #333333; text-align:center; font-size: 16px; margin-top: 4em'>
                                También puedes ingresar usando la siguiente dirección web :
                        </p>
                        <div style="display: flex; align-items: center; justify-content: center"> 
                            <a th:href="@{${detailsURL}}" target="_blank" class='fontSizeDescription' style='color: #2892d7; text-align:center'>
                                <span th:text="${detailsURL}" />
                            </a>
                        </div>
                        </div>
                </div>
                <hr style="background-color: #bcccd6; border: 1px solid #bcccd6" />
                
            </td>
        </tr>
    </table>
</body>
</html>